{% extends 'server/base.html' %}
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/user_info.css' %}"/>
    </head>
    <body>
        {% block contents %}
        <section>
            <div class="user-info-container">
                <div name="profile" value="1" onClick="location.href='/profile/'">
                    <small>내 프로필</small>
                </div>
                <div name="money" value="1" onClick="location.href='/money/'">
                    <small>보증금 관리</small>
                </div>
                <div name="app_info" value="1" onClick="location.href='/app_info/'">
                    <small>앱 정보</small>
                </div>
            </div>
        </section>
        {% endblock contents %}
    </body>
</html>